body {
  background-color: rgb(235, 235, 235);
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.row {
  display: flex;
}

.row-wrap {
  flex-wrap: wrap;
}

.column-half {
  width: 50%;
}

.graphic {
  background-image: url("/images/header.jpg");
  background-size: contain;
  width: 485px;
  height: 235px;
  position: relative;
  background-repeat: no-repeat;
}

.h1-title {
  position: absolute;
  padding: 8.5rem 1rem;
  font-family: Poppins, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
}

.location {
  position: absolute;
  bottom: 1.5rem;
  margin-left: 1.1rem;
  font-family: "Open Sans", sans-serif;
  font-size: 0.6rem;
  font-weight: 200;
  color: white;
}

.email {
  position: absolute;
  bottom: 0.6rem;
  margin-left: 1.1rem;
  font-family: "Open Sans", sans-serif;
  font-size: 0.6rem;
  font-weight: 300;
  color: white;
}

.overlay {
  background: linear-gradient(transparent, rgb(0 0 0 / 80%));
  position: absolute;
  bottom: 0;
  width: 485px;
  height: 170px;
}

h2 {
  font-family: Poppins, sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: right;
}

h3 {
  font-family: Poppins, sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
}

label {
  font-family: Poppins, sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
}

input {
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  min-width: 15rem;
  min-height: 2.25rem;
  background: #f8f8f8;
  border: solid #bdbdbd 0;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  padding: 0.25rem 0.5rem;
  font-family: opensans, sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  color: #666;
}

.business-hours {
  min-width: 30rem;
  min-height: 6rem;
}

.business-name {
  min-width: 30rem;
}

.hours-header {
  position: absolute;
  font-family: "open sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  color: black;
}

.hours {
  margin-top: 2rem;
  font-family: "open sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  color: black;
}

p {
  font-family: "open sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  color: #666;
}

.patron-eta {
  min-width: 10rem;
}

.party-size {
  min-width: 10rem;
}

.patron-comments {
  min-width: 30rem;
  min-height: 6rem;
  position: top;
}

.center {
  display: flex;
  justify-content: center;
}

.right {
  display: flex;
  justify-content: right;
}

.join-waitlist {
  margin-top: 0.5rem;
  font-family: Poppins, sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: right;
  color: black;
}

.view-waitlist {
  position: absolute;
  margin-top: 2.25rem;
  text-decoration: none;
  border-style: none;
  border-radius: 0.3rem;
  background-color: #227ae3;
  color: white;
  padding: 0.35rem 0.5rem;
  font-family: "open sans", sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
}

.confirm {
  text-decoration: none;
  margin-top: 2rem;
  border-style: none;
  border-radius: 0.1rem;
  background-color: #da0012;
  color: white;
  padding: 0.25rem 4rem;
  font-family: Poppins, sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
}

.return {
  text-decoration: none;
  margin-top: 5rem;
  border-style: none;
  border-radius: 0.1rem;
  background-color: #da0012;
  color: white;
  padding: 0.25rem 4rem;
  font-family: Poppins, sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
}

.subheader {
  font-family: Poppins, sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  color: black;
}

.patron-info {
  font-family: "open sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  list-style: none;
  padding-bottom: 0.75rem;
  text-align: center;
}

a:link {
  text-decoration: none;
}

/* visited link */
a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
